@font-face{font-family:"Iosevka Term Slab Extended";font-weight:normal;src:url(https://hexylena.galaxians.org/hexylena.css/iosevka-term-slab-extended.ttf)}
@font-face{font-family:"Iosevka Term Slab Extended";font-weight:bold;src:url(https://hexylena.galaxians.org/hexylena.css/iosevka-term-slab-extendedbold.ttf)}
@font-face{font-family:"Iosevka Term Slab Extended";font-style:italic;font-weight:bold;src:url(https://hexylena.galaxians.org/hexylena.css/iosevka-term-slab-extendedbolditalic.ttf)}
@font-face{font-family:"Iosevka Term Slab Extended";font-style:italic;src:url(https://hexylena.galaxians.org/hexylena.css/iosevka-term-slab-extendeditalic.ttf)}

:root {
	--theme-color: #CE3518;
	--text-color: white;
	--link-color: black;
	--code-background: black;
	--code-foreground: white;
	--font-family: "Iosevka Term Slab Extended";
}

a { color: var(--link-color); }
a.permalink { text-decoration: none; }
html { background-color: var(--theme-color); color: var(--text-color); line-height: 1.25em; font-family: var(--font-family, monospace); font-display: swap; }
body { max-width: 80ch; margin: 1em auto; padding: 0 1ch; }

table { width: 100%; border-collapse: collapse; }
table.foot { margin-top: 1em; }

td.head-rtitle, td.foot-os { text-align: right; }
td.head-vol { text-align: center; }

p { margin: 1em 0ex; }

pre, :not(pre) > code { background-color: var(--code-background); color: var(--code-foreground); white-space: pre-wrap; word-wrap: break-word; padding: 0.1em;}
pre{padding: 0.8em 0.1em;}
